*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  background: #33d;
}
 .center{
  width:600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 1rem;
  background-color: azure;
 }


 p{
  cursor: pointer;
  border: 2px solid #ffffff;
  padding: 1.5rem 3rem;
  color: #ffff;
  border-radius: 0.4rem;
}
 p:hover{
  background: #0020d7;
  cursor: pointer; 
  
 }
 h2{
  margin:2rem;
  color: #ffffff;
  display: none;
 }
 .bt{
  display: block;
  padding: 1rem 2rem;
  border: none;
  color: #ffffff;
  font-size: 1.3em;
  margin: 1rem 0;
  border-radius:0.2rem;
 }
 button{
  display: none;
 }
