*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', sans-serif;
  background:var(--prim)
}
/* setting var color */
:root{
  --prim:#33d;
  --sec:#ffff;
  --opac: #5252f3;
}
 .center{
  width:600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 1rem;
  background-color: var(--opac);
  box-shadow: rgba(255, 255, 255, 0.688) 0px 20px 40px -35px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
 }

h1#header{
  text-align: center;
  padding-top: 2rem;
  letter-spacing: 1rem;
  position: relative;
  color: var(--sec);
  font-size: 40px;
}
 p{
  cursor: pointer;
  border: 2px solid #ffffff;
  padding: 1.5rem 3rem;
  color: #ffff;
  border-radius: 0.4rem;
}
 p:hover{
  background: #ffffff;
  cursor: pointer; 
  color: #33d;
  font-weight: bolder;
 }

 h3{
  margin:2rem;
  color: #ffffff;
  display: none;
 }
 .bt{
  display: block;
  padding: 1rem 2rem;
  border: none;
  color: #ffffff;
  font-size: 1.3em;
  margin: 1rem 0;
  border-radius:0.2rem;
 }
 button{
  display: none;
 }
